body{
    background-color: azure;
}
#primera{
    text-align: center;
    margin-top: 1%;
    background-color: rgb(0, 255, 170);
}
#excuse{
    text-align: center;
    margin-top: 1%;
    background-color: aquamarine;
}